body{

margin: 0;
padding:0;
    
}

.header1{


    height: 50px;
    width: 100%;
    background-color: silver;
    
}

.header1  ul li {

    display: inline;
    position: relative;
    top: 20px;
    right: -1100px;
    margin-left: 25px;
    
}

.header1 ul li a{

    text-decoration: none;
    color: black;
}